.cell {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    background-color: rgba(212, 209, 209, 0.904);
    
}

.openCell {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    border : 1px solid black;
    
}